@charset "UTF-8";

.listprofile{
    width: 910px;
    float: left;
    color: #666;
}
.listprofile h2{
    height: 40px;
    line-height: 40px;
    border-bottom: 1px dashed #999;
    padding: 0 0 15px 0;
    font-size: 35px;
    font-weight: normal;
}
.listprofile p{
    line-height: 2;
    margin: 20px 0;
    font-size: 20px;
}
